.MoviesPageForm {
  margin: 0 auto;
  display: flex;
  gap: 3px;
  max-width: 350px;
  margin-bottom: 20px;
}

.MoviesPageInput {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--ligth-dark);
  border-radius: 5px;
  outline: none;
}

.MoviesPageInput:focus {
  border-color: var(--dark-blue);
  border-width: 2px;
}

.MoviesPageBtn {
  padding: 6px 10px;
  border-radius: 5px;
  background-color: var(--ligth-dark);
  font-size: 18px;
}

.MoviesPageBtn:hover {
  background-color: var(--dark-blue);
}
