.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  /* backdrop-filter: blur(1px); */

  opacity: 0;
  transform: scale(1.5);
  pointer-events: none;
  transition: opacity 500ms var(--transition), transform 500ms var(--transition);
}

.modalOverlay.modalOpen {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.modal {
  position: relative;
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}

.btnClose {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  background-color: var(--dark-grey);
}
