.MovieList {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 15px;
  justify-content: center;
}

.MovieItem {
  width: 320px;
  padding: 8px 8px 17px;
  border-radius: 8px;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;

  transition: box-shadow 250ms linear;

  @media (min-width: 768px) {
    width: 235px;
  }

  @media (min-width: 1440px) {
    width: 330px;
  }
}

.MovieItem:hover {
  box-shadow: rgba(0, 0, 0, 0.74) 0px 2px 24px -5px;
}

.MovieLink {
  width: 100%;
  height: 100%;
}

.MovieImgWrap {
  width: 100%;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  overflow: hidden;
}

.MovieImg {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 250ms linear;
}

.MovieItem:hover .MovieImg {
  transform: scale(1.1);
}

.MovieInfo {
  display: flex;
  padding: 20px 10px 10px 10px;
  /* gap: 10px; */
  /* align-items: center; */
}

.MovieTitle {
  margin-right: 10px;
}

.MovieRating {
  margin-right: auto;
}
