.logoWrap {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-basis: 201px;
}

.logo {
  width: 40px;
  height: 40px;
  color: var(--light-gray);
}

.logoText {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.67;
  color: var(--light-gray);

  @media (min-width: 768px) and (max-width: 1439px) {
    font-size: 24px;
  }
}
