.modalTrailerWrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--light-gray);
}

.errorMessageText {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: var(--orange);
}

.MovieImg {
  display: block;
  height: 100%;
  object-fit: cover;
}
