.btnClose {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 36px;

  border: 2px solid var(--light-gray);
  border-radius: 50%;
  color: var(--light-gray);

  transition: color var(--transition-delay) var(--transition),
    background-color var(--transition-delay) var(--transition);
}

.btnClose:hover,
.btnClose:focus {
  color: var(--dark-grey);
  background-color: var(--light-gray);
}

.iconBtnClose {
  width: 20px;
  height: 20px;
  color: inherit;
}
